# Entornos virtuales
venv/
.venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env

# Configuración de VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db
