{% extends "base.html" %}

{% block titulo_pagina %}
Acerca del proyecto
{% endblock %}

{% block encabezado %}
Información del proyecto
{% endblock %}

{% block contenido %}
<p>Este proyecto fue creado utilizando <strong>Flask</strong> y <strong>Jinja2</strong>.</p>
<p>El objetivo es desarrollar un frontend simple que consuma la API de productos de la base de datos <em>bdfacturas</em>.</p>
<p>En esta sección se puede documentar la finalidad del sistema, su arquitectura y las tecnologías usadas.</p>
{% endblock %}
